/* === POST CONTENT === */
.post-content__title {
  color: #0d6efd;
  margin-top: 0;
}

.post-content__image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.post-content__text {
  line-height: 1.6;
}

.post-content__social {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.post-content__social button {
  border: 1px solid #bbb;
}